<h1>This is the listing page</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.description %></td>
  </tr>
  <% end %>
  </table>
